@import './../../styles/colors';
@import './../../styles/text-size';

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: none;
    outline: none;
    background-color: $color-primary;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: $text-sm;
    font-weight: 600;
    color: $color-variant5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: $color-primary-hover;
    }
    &--outline{
        background-color: transparent;
        &:hover{
            background-color: $color-variant5-hover;
        }
    }
    &--icon{
        padding: 10px;
        &:hover{
            background-color: $color-primary-hover;
        }
    }
    &__icon{
        width: 30px;
        height: 30px;
    }
}