$color-variant3: #200E3A;
$color-variant5: #F5F7F8;
$color-variant5-hover: rgba(245, 247, 248, 0.1);
$color-primary: #52D3D8;
$color-primary-hover: #4dc3c7;
$color-variant2: #38419D;
$color-input-text-placeholder: rgba(69, 71, 75, 0.4)